@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import './normalize';

.wrapper {
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}


// HOME
.search {
    
    h2 {
        margin-top: 80px;  
        margin-bottom: 10px;
    }
}

.block_search {
    height: 40px;
    display: flex;
    justify-content: center;
}

.input_search {
    width: 100%;
    border: 2px solid #131315;
    padding: 0 10px;
    opacity: 0.2;
    transition: ease 0.3s;
    border-right: none;
}

.but {
    background: #131315;
    color: #fff;
    cursor: pointer;
    padding: 0 25px;
    transition: 0.3s;
    border: none;

    &:hover {
        background: #13131584;
    }
}

.input_search:focus {
    background: #2420260e;
    opacity: 1;
}

.page_video {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.information {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-weight: 100;
        margin-left: 20px;
    }

    .layout {
        display: flex;
        gap: 30px;

        li {
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            font-size: 30px;

            &.active, &:hover {
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}


// LOGIN
.login {
    background: #131315;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);

    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .user input {
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;

        &:focus~label, &:valid~label {
           top: -85px;
            left: 0;
            color: #8F7CEC;
            font-size: 12px; 
        }
    }

    label {
        position: relative;
        left: 0;
        top: -60px;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }

    #submit {
        background: #242026;
        padding: 10px 20px;
        color: #CBBDDB;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.3s;
        letter-spacing: 4px;
        border: 1px solid #8F7CEC;
        margin: auto;
        
        &:hover {
            background: #8F7CEC;
            color: #fff;
            box-shadow: 0 0 1px #8F7CEC, 0 0 5px #8F7CEC, 0 0 10px #8F7CEC, 0 0 20px #8F7CEC;
        }
    }

    .button {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        #register {
            font-size: 14px;
            text-decoration: none;
            margin: auto;
            width: 60%;
            text-align: center;

            p {
                color: #CBBDDB;
            }
    
            button {
                cursor: pointer;
                border: none;
                background: #242026;
                margin: auto;
                color: #8F7CEC;
                text-decoration: none;
            }
        }
    }
}


// Favorites



//Video


.video {
    padding: 10px;
    cursor: pointer;
    //Убрать бокс шэдоу после
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &__info {
        display: flex;
        flex-direction: column;
    }

    img {
        overflow: hidden;
    }


    &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }
}

.lay {
    display: flex;
    gap: 40px;
    width: 100%;
}


// Favorites and Modal

.favorites {
    position: relative;
}

.modal {
    width: 400px;
    position: absolute;
    z-index: 10;
    background: #fff;
    transition: 0.5s;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}


.modalWindow.active {
    opacity: 1;
    pointer-events: all;
}

.modalWindow__flex {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 90px;
    padding-right: 90px;
    /* display: flex;
    flex-direction: column; */
    background-color: #fff;
    border-radius: 15px;
}

.modalWindow__title {
    color: #131315;
    margin-bottom: 20px;
}

.requie input,
.requie select {
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid #131315;
    border-radius: 5px;
    outline: none;
    color: #000;
    font-size: 1rem;
}


form {
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.button_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}


.inversion {
    cursor: pointer; 
    background: #fff;
    border: 1px solid #131315;
    text-transform: uppercase;
    color: #000;
    transition: .5s;
}

.inversion:hover {
    background: rgb(250 250 250);
}

span.red {
    color: red;
}

.range_grid {
    display: grid;
    grid-template-columns: 2fr 90px;
    gap: 20px;
    align-items: end;
}

.slider {
    appearance: none;
    width: 100%;
    height: 5px;
    margin-bottom: 20px;
    border-radius: 5px;  
    background: #131315;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #131315;
    cursor: pointer;
}

.ban {
    pointer-events: none;
    background: rgb(234, 234, 234);
}