@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.login {
    background: #131315;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;

    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    input {
        position: relative;
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 38px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
}