header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.header__container {
    min-height: 100px;
    background: #242026;
    display: flex;
    align-items: center;
    color: #fff;

    position: relative;
}

.header__wrapper {
    width: 100%;
    min-height: 100%;
}

.header__flex {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_nav,
.header_nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}



.header_nav ul a {
    text-decoration: none;
}

.logo {
    color: #fff;
    margin-right: 50px;
    height: 50px;
}

.header_nav ul {
    list-style: none;
}

.header_nav ul a {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.header_nav li:nth-child(2) {
    margin-left: 40px;
}

.header_nav ul li {
    cursor: pointer;
    position: relative;
}

.header_nav ul .nav_active a{
    color: #fff;
}

.header_nav ul .nav_active::before {
    content: '';
    position: absolute;
    border-bottom: 3px solid #fff;
    width: 100%;
    top: 62px;
    border-radius: 1px;
}

.header_logOut a {
    border-radius:  10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    transition: .3s;
    opacity: 0.7;
}

.header_logOut a:hover {
    opacity: 1;
    background: #e6c9f52a;
}